@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/olive-dark.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/yellow-dark.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/teal-dark.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/cyan-dark.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/mauve-dark.css";

:root {
    /* 組件級別 */
    /* color */
    --color-fg-warm-default: white;
    --color-fg-cold-default: black;
    --color-fg-default: black;
    --color-bg-default: white;
    --color-gray-default: gray;
    /* radius scale */
    --border-radius-none: 0;
    --border-radius-sm: 0.125;
    --border-radius-md: 0.25;
    --border-radius-lg: 0.4;
    --border-radius-full: 100;
}